
<div id='dashboard' class='slidable'>

  Welcome Admin.

  <table id='create_product'>
    <%= form_for new_product do |f| %>
    <tr>
      <td><%= f.label :name%></td>
      <td><%= f.text_field :name, placeholder: 'name' %></td>
    </tr>
    <tr>
      <td><%= f.label :price%></td>
      <td><%= f.number_field :price, placeholder: 'price' %></td>
    </tr>
      <td><%= f.label :inventory%></td>
      <td><%= f.number_field :inventory, placeholder: 'inventory' %></td>
    <tr>
    <tr>
      <td><%= f.label 'Image'%></td>
      <td><%= f.file_field :product_image %></td>
    </tr>
    <tr>
      <td><%= f.label 'Categories'%></td>
      <td><%= f.collection_check_boxes(:category_ids, @categories, :id, :name) %></td>
    </tr>
      <td>
        <%= f.submit %>
      </td>
    <% end %>
  </table>

  <div id="create_category">
    create a category!
  </div>

  <div id='delete_dropdown'>
    Delete From Dropdown:

    <table>
      <% products.each do |product| %>
        <%= form_for(product, method: 'delete') do |f| %>
        <tr>
          <td><%= f.label product.name %></td>
          <td><%= f.submit 'Delete' %></td>
        </tr>
        <% end%>
      <% end %>
    </table>

  </div>

</div>
