
<div id='dashboard' class='slidable'>

  Welcome Admin.

  <table>
    <%= form_for new_product do |f| %>
    <tr>
      <td><%= f.label :name%></td>
      <td><%= f.text_field :name, placeholder: 'name' %></td>
    </tr>
    <tr>
      <td><%= f.label :price%></td>
      <td><%= f.number_field :price, placeholder: 'price' %></td>
    </tr>
      <td><%= f.label :inventory%></td>
      <td><%= f.number_field :inventory, placeholder: 'inventory' %></td>
    <tr>
    <tr>
      <td><%= f.label :product_image%></td>
      <td><%= f.file_field :product_image %></td>
    </tr>
      <td>
        <%= f.submit %>
      </td>
    <% end %>
  </table>

  <div id='delete_dropdown'>
    Delete From Dropdown:

  <table>
    <% products.each do |product| %>
      <%= form_for(product, method: 'delete') do |f| %>
      <tr>
        <td><%= f.label product.name %></td>
        <td><%= f.submit 'Delete' %></td>
      </tr>
      <% end%>
    <% end %>
  </table>

</div>

</div>
